<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents team-ranking container mt-5">
		<h3 class="mb-3">TEAM RANKING</h3>
		  <table class="table table-bordered text-center">
		    <thead class="table-light">
		      <tr>
		        <th>순위</th>
		        <th>팀명</th>
		        <th>경기</th>
		        <th>승</th>
		        <th>패</th>
		        <th>무</th>
		        <th>승률</th>
		        <th>게임차</th>
		        <th>최근 10경기</th>
		        <th>연속</th>
		        <th>홈</th>
     		    <th>원정</th>
		      </tr>
		    </thead>
		    <tbody>
			   <tr th:each="team : ${rankings}">
				    <td th:text="${team.rank}"></td>
				    <td th:text="${team.team}"></td>
				    <td th:text="${team.gamesPlayed}"></td>
				    <td th:text="${team.wins}"></td>
				    <td th:text="${team.losses}"></td>
				    <td th:text="${team.draws}"></td>
				    <td th:text="${team.winPercentage}"></td>
				    <td th:text="${team.gamesBehind}"></td>
				    <td th:text="${team.last10}"></td>
				    <td th:text="${team.streak}"></td>
				    <td th:text="${team.homeRecord}"></td> <!-- 홈 기록 -->
     		   	    <td th:text="${team.awayRecord}"></td> <!-- 원정 기록 -->
				</tr>
			  
			</tbody>
		    
	
	</section>
</html>	